<footer class="footer padding-wrap pb-0">
    <div class="footer__inner">
        <div class="container">
            <div class="footer__body">
                <ul class="footer__nav">
                    <li>
                        <a href="#">Услуги</a>
                    </li>
                    <li>
                        <a href="#">Seo</a>
                    </li>
                    <li>
                        <a href="#">Директ</a>
                    </li>
                    <li>
                        <a href="#">Портфолио</a>
                    </li>
                    <li>
                        <a href="#">Обо мне</a>
                    </li>
                    <li>
                        <a href="#">Партнеры</a>
                    </li>
                    <li>
                        <a href="#">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>