<div class="popup " id="popup-form">
    <div class="popup__body">
        <div class="popup__content">
            <div class="popup__close" data-popup="close-popup"><span></span></div>
            <h3 class="popup__title title-3">Оставить заявку</h3>
            <div class="form">
                <div class="form__fields">
                    <div class="form__field">
                        <input type="text" class="input" placeholder="Имя">
                    </div>
                    <div class="form__field" data-mask="+7 (999) 999-99-99">
                        <input type="text" class="input" placeholder="Телефон">
                    </div>
                    <div class="form__field">
                        <input type="email" class="input" placeholder="E-mail">
                    </div>
                    <div class="form__field">
                        <input type="text" class="input" placeholder="Сайт">
                    </div>
                </div>
                <div class="form__checkbox-radio-wrap">
                    <label class="checkbox-radio">
                        <input type="checkbox" checked>
                        <div class="checkbox-radio__square"></div>
                        <div class="checkbox-radio__text">
                            Согласен(а) с <a href="#">пользовательским соглашением</a>
                        </div>
                    </label>
                </div>

                <div class="text-center">
                    <button type="submit" class="form__submit btn mb-0"><span>Отправить</span></button>
                </div>
            </div>
		</div>
	</div>
</div>